version: '3.8'
#Mudanças no serviço app:
#
#Adicionada a seção volumes: Montamos o diretório ./mysql/ssl (onde os certificados estão no seu host) no caminho /etc/mysql/ssl/ dentro do container da sua API.
#Modificada a variável de ambiente DB_URL: Adicionamos os seguintes parâmetros JDBC para habilitar e configurar o SSL:
#useSSL=true: Habilita o uso de SSL.
#verifyServerCertificate=true: Força a verificação do certificado do servidor MySQL.
#trustServerCertificate=false: Impede que o cliente confie implicitamente no certificado do servidor.
#serverSslCert=/etc/mysql/ssl/server-cert.pem: Caminho para o certificado do servidor dentro do container (pode não ser necessário para o cliente).
#clientSslCert=/etc/mysql/ssl/client-cert.pem: Caminho para o certificado do cliente (se a autenticação de cliente for necessária).
#clientSslKey=/etc/mysql/ssl/client-key.pem: Caminho para a chave privada do cliente (se a autenticação de cliente for necessária).
#sslMode=VERIFY_IDENTITY: Garante que o nome do host no certificado do servidor corresponda ao nome do host ao qual o cliente está tentando se conectar.
#sslCa=/etc/mysql/ssl/ca.pem: Caminho para o certificado da Autoridade Certificadora (CA) dentro do container da API. Este é crucial para verificar a validade do certificado do servidor MySQL.
services:
  db:
    image: mysql:v15
    container_name: mysql
    environment:
      MYSQL_ROOT_PASSWORD: 0m4r14c0ns3b1d4s3mp3c4d0
      MYSQL_DATABASE: M4r14DB_4dm
      MYSQL_USER: M4r14DB_4dm
      MYSQL_PASSWORD: 0m4r14c0ns3b1d4s3mp3c4d0
      MYSQL_SSL_CERT: /var/lib/mysql/ssl/server-cert.pem
      MYSQL_SSL_KEY: /var/lib/mysql/ssl/server-key.pem
      MYSQL_SSL_CA: /var/lib/mysql/ssl/ca.pem
      MYSQL_REQUIRE_SSL: 1 # Forçar conexões SSL
    volumes:
      - dbwork3_volume_mysql:/var/lib/mysql
      - ./mysql/ssl:/var/lib/mysql/ssl:ro
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    environment:
      MYSQL_ROOT_PASSWORD: 0m4r14c0ns3b1d4s3mp3c4d0
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_SSL: 1
      MYSQL_SSL_CA: /etc/mysql/ssl/ca.pem
    ports:
      - "8080:80"
    volumes:
      - ./mysql/ssl:/etc/mysql/ssl/:ro
    depends_on:
      - db

  app:
    build: .
    image: associacao-app:v1.0
    container_name: associacao-app
    environment:
      - DB_URL=jdbc:mysql://db:3306/M4r14DB_4dm?useSSL=true&verifyServerCertificate=true&trustServerCertificate=false&serverSslCert=/etc/mysql/ssl/server-cert.pem&clientSslCert=/etc/mysql/ssl/client-cert.pem&clientSslKey=/etc/mysql/ssl/client-key.pem&sslMode=VERIFY_IDENTITY&sslCa=/etc/mysql/ssl/ca.pem
      - DB_USER=M4r14DB_4dm
      - DB_PASSWORD=0m4r14c0ns3b1d4s3mp3c4d0
    ports:
      - "80:80"
    volumes:
      - ./mysql/ssl:/etc/mysql/ssl/:ro # Monta os certificados na API
    depends_on:
      - db

volumes:
  dbwork3_volume_mysql: